:root {
    --text-color-opa: #414141;
    --hover-color   : #F65E39;
}

* {
    box-sizing: inherit;
    margin    : 0;
    padding   : 0;
}

html {
    font-size     : 62.5%;
    line-height   : 1.6rem;
    font-family   : 'Roboto Condensed', sans-serif;
    box-sizing    : border-box;
    letter-spacing: 1px;
    font-weight   : 700;
}

.displayFlex {
    display: flex !important;
}

.hide {
    display: none;
}
.stop-scrolling {
    height: 100%;
    overflow: hidden;
  }
@keyframes fadeIn__header-sub {
    from {
        opacity: 0;
        top    : 70px;
    }

    to {
        opacity: 1;
        top    : 57px;
    }
}

.content__heading {
    margin-top   : 0;
    font-size    : 3rem;
    line-height  : 4rem;
    margin-bottom: 5px;
    font-weight  : 600;

}

.content__heading-sub {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    font-size      : 2rem;
    line-height    : 2.5rem;
    color          : var(--text-color-opa);
    margin-bottom  : 20px;
}


.content__heading-center {
    margin     : 30px 0;
    font-size  : 2.6rem;
    line-height: 2.6rem;
    text-align : center;

}

/* FOOTER*/
#footer {
    background-color: #26272b;
    margin-bottom   : -20px;
}

#footer hr {
    border-top: hidden;
    opacity   : 0.5
}

.footer_up {
    display    : flex;
    text-align : center;
    align-items: center;
    justify-content: space-between;
}

.footer_up-item ul {
    list-style: none;
    padding   : 0;
}

.footer_up-item ul li {
    margin: 5px 0;
}

.footer__up-item--head {
    font-size    : 16px;
    padding-top  : 20px;
    color        : white;
    margin-bottom: 12px;
}



#footer p,
#footer a {
    font-size      : 14px;
    line-height    : 16px;
    text-decoration: none;
    color          : #737373;
    margin         : 0;
}

.copyright-text {
    padding   : 20px 0;
    text-align: center;
}


/* LOADING  */
#loader-wapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    align-items: center;
    justify-content: center;
    z-index: 3;
    display: none;
}

@keyframes loader {
    0% {
        transform: rotate(-45deg)
    }

    50% {
        transform: rotate(-135deg)
    }

    100% {
        transform: rotate(-225deg)
    }
}

@keyframes span-1 {
    0% {
        transform: translate(0);
    }

    50% {
        transform   : translate(-50px, 0);
        border-color: #EE4D68
    }

    100% {
        transform: translate(0);
    }
}

@keyframes span-2 {
    0% {
        transform: translate(0);
    }

    50% {
        transform   : translate(50px, 0);
        border-color: #875678
    }

    100% {
        transform: translate(0);
    }
}

@keyframes span-3 {
    0% {
        transform: translate(0);
    }

    50% {
        transform   : translate(0, -50px);
        border-color: #FF9900
    }

    100% {
        transform: translate(0);
    }
}

@keyframes span-4 {
    0% {
        transform: translate(0);
    }

    50% {
        transform   : translate(0, 50px);
        border-color: #00E4F6
    }

    100% {
        transform: translate(0);
    }
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    width    : 50px;
    height   : 50px;
    position : relative;
    animation: loader 2s infinite ease-in-out;
}

.loader span {
    width   : 50px;
    height  : 50px;
    position: absolute;
    left    : 0;
    top     : 0;
    border  : 4px solid #0B1B48;
}

.loader span:nth-child(1) {
    animation: span-1 2s ease-in-out infinite;
}

.loader span:nth-child(2) {
    animation: span-2 2s ease-in-out infinite;
}

.loader span:nth-child(3) {
    animation: span-3 2s ease-in-out infinite;
}

.loader span:nth-child(4) {
    animation: span-4 2s ease-in-out infinite;
}