/* Mobile & Tablet */
@media (max-width: 1023px) {
    #main {
        display: none;
    }
    body {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }    
    .tablet_mobile {
        animation: rotate 5s infinite;
        color: red;
        font-size: 30px;
        line-height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    @keyframes rotate {
        0% {
            transform: rotate(30deg)
        }
        50% {
            transform: rotate(-30deg);
        }
        100% {
            transform: rotate(30deg)
        }
        
    }

}
