.slick-prev {
    opacity: 0.5;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-30%, -50%);
    z-index: 1;
    width: 50px;
    height: 50px;
    border-radius: 100rem;
    border: none;
}
.slick-prev:hover {
    opacity: 0.8;
    cursor: pointer;
}
.slick-prev::before {
    position: absolute;
    content: "";
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    left: -2px;
    top: -2px;
    background: linear-gradient(
      124deg,
      #ff2400,
      #e81d1d,
      #e8b71d,
      #e3e81d,
      #1de840,
      #1ddde8,
      #2b1de8,
      #dd00f3,
      #dd00f3
    );
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    animation: move 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}
.slick-prev:hover::before {
    opacity: 1;
} 
.slick-prev::after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #a8a3bd;
    left: 0;
    top: 0;
    border-radius: 10px;
}
  
@keyframes move {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
}

  

.slick-next {
    opacity: 0.5;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(30%, -50%);
    z-index: 1;
    width: 50px;
    height: 50px;
    border-radius: 100rem;
    border: none;
}
.slick-next:hover {
    opacity: 0.8;
    cursor: pointer;
}
.slick-next::before {
    position: absolute;
    content: "";
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    left: -2px;
    top: -2px;
    background: linear-gradient(
      124deg,
      #ff2400,
      #e81d1d,
      #e8b71d,
      #e3e81d,
      #1de840,
      #1ddde8,
      #2b1de8,
      #dd00f3,
      #dd00f3
    );
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    animation: move 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
.slick-next:hover::before {
    opacity: 1;
  }
  
.slick-next::after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #a8a3bd;
    left: 0;
    top: 0;
    border-radius: 10px;
  }